# Load the .tool-versions file.
use asdf

# Set up a virtual environment.
layout python

# Prevent pipenv from printing a courtesy notice about detecting that
# we're inside of a virtual environment.
export PIPENV_VERBOSITY=-1

# Give people a hook to tweak things locally.
source_env_if_exists .envrc.local
